<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1600">
<title>KMAC 통합 인트라넷</title>
<link rel="stylesheet" href="/_new/css/common.css" type="text/css" />
<link rel="stylesheet" href="/_new/css/board.css" type="text/css" /><!-- 서브페이지에서만 사용 -->	
<link rel="stylesheet" href="/_new/css/dev.css" type="text/css" />	

<script type="text/javascript" src="/_new/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/_new/js/jquery-ui.js"></script>
<script type="text/javascript" src="/_new/js/common.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="../resources/js/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript">
function dateChange(){
	var year = $("#year").val();
	var month = $("#month").val();
	location.href = "/_new/schedule/company/list" +"?year=" + parseInt(year) +"&month=" + parseInt(month)
}

function moveNext(){
	var year = parseInt($("#year").val());
	var month = parseInt($("#month").val());
	
	if (month == "12") {
		year = parseInt(year) + 1;
		month = 1;
	} else {
		month = month + 1; 
	}
	location.href = "/_new/schedule/company/list" +"?year=" + parseInt(year) +"&month=" + parseInt(month)
}

function movePrevious(){
	var year = parseInt($("#year").val());
	var month = parseInt($("#month").val());
	
	if (month == "1") {
		year = parseInt(year) - 1;
		month = 12;
	} else {
		month = month - 1; 
	}

	location.href = "/_new/schedule/company/list" +"?year=" + parseInt(year) +"&month=" + parseInt(month) 
}

function checkAllDay(){
	if($("#check_day").is(":checked") == true ) {
		$("#stime_edit").val("08:30");
		$("#etime_edit").val("17:30");
		$("#ss_edit").val("오전");
		$("#ee_edit").val("오후");
	} else {
		$("#stime_edit").val("");
		$("#etime_edit").val("");
		$("#ss_edit").val("");
		$("#ee_edit").val("");
	}
}
/* ******************************************************************* */
var openItem="";
function layer_open_schedule(obj, el, idx, date){
    if(el == 'pop_register'){
		$("#idx_edit").val('');
		if(date.startsWith('\"00')){
			return false;
		}
		$("#sdate_edit").val(date.replace(/"/gi, ''));
		
		 var temp = jQuery('#' + el);
	    jQuery(obj).addClass('is-focus');
	    temp.addClass('show');
	
	    temp.attr("tabindex","0").focus();
	    jQuery('.btn_close').on('focus', function(){
	        jQuery(this).keydown(function()  {
	            if(event.which == 9) {
	                temp.attr("tabindex","0").focus();
	            }
	        });
	    });
	
	    jQuery('.popup_bg').on('scroll touchmove mousewheel', function(event) {
	        event.preventDefault();
	        event.stopPropagation();
	        return false;
	    });			
	    
	    /* layout popup close */
	    jQuery('.popup_bg').on('click', function(event) {
    		jQuery(obj).removeClass('is-focus');
  	 	 	temp.removeClass('show');
	  	});	
	} else if(el == 'pop_register_edit' && idx != ''){
		$.ajax({
			type: "GET",
			contentType: 'application/json',
			url : "/_new/schedule/company/detail?idx="+idx,
			dataType: "json",
	        cache: false,
	        timeout: 60000
		})
		.done(function(data, textStatus, jqXHR ) { 
			openItem = idx;
			$("#iconCode_view").attr('class', "dot_tit "+ data.detail.iconCode);
			$("#iconCode_view").html("<span class='detail' id='content_view'>"+data.detail.content+"</span>");
			$("#stime_etime").text(data.detail.dateString);
			$("#place_view").text(data.detail.place);
			/* 아래는 업데이트 폼 값 세팅*/
			
			$("#idx_edit").val(data.detail.idx);
			$("#seq_edit").val(data.detail.seq);
			
			$("#content_edit").val(data.detail.content);
			$("#place_edit").val(data.detail.place);
			$("#sdate_edit").val(data.detail.dateString2);
			$("#ss_edit").val(data.detail.startHour > 0 && data.detail.startHour < 12 ? "오전" : "오후");
			$("#ee_edit").val(data.detail.endHour > 0 && data.detail.endHour < 12 ? "오전" : "오후");
			$("#stime_edit").val(data.detail.startHour +":"+data.detail.startMin);
			$("#etime_edit").val(data.detail.endHour +":"+ data.detail.startMin);
			
		    var temp = jQuery('#' + el);
		    jQuery(obj).addClass('is-focus');
		    temp.addClass('show');
		
		    temp.attr("tabindex","0").focus();
		    jQuery('.btn_close').on('focus', function(){
		        jQuery(this).keydown(function()  {
		            if(event.which == 9) {
		                temp.attr("tabindex","0").focus();
		            }
		        });
		    });
		
		    jQuery('.popup_bg').on('scroll touchmove mousewheel', function(event) {
		        event.preventDefault();
		        event.stopPropagation();
		        return false;
		    });			
			/* layout popup close */
		    jQuery('.popup_bg').on('click', function(event) {
	    		jQuery(obj).removeClass('is-focus');
	  	 	 	temp.removeClass('show');
		  	});		
		}) 
		.fail(function(jqXHR, textStatus, errorThrown ) {
			alert("처리 중 오류가 발생하였습니다.1"+errorThrown+":"+status);
		}) 
		.always(function(jqXHR, textStatus, errorThrown ) { 
		});	
	}
}
//수정팝업 띄우기
function layer_edit_schedule(obj, el){
	if($("#editable_edit").val() == 'N'){
		alert("해당 일정의 수정은 불가합니다.");
	}
	if(el == 'pop_register' && openItem != ''){
	    var temp = jQuery('#' + el);
	    jQuery(obj).addClass('is-focus');
	    temp.addClass('show');
	
	    temp.attr("tabindex","0").focus();
	    jQuery('.btn_close').on('focus', function(){
	        jQuery(this).keydown(function()  {
	            if(event.which == 9) {
	                temp.attr("tabindex","0").focus();
	            }
	        });
	    });
	
	    jQuery('.popup_bg').on('scroll touchmove mousewheel', function(event) {
	        event.preventDefault();
	        event.stopPropagation();
	        return false;
	    });		
	}
}

function layer_close_schedule(el) {
	$("#frm")[0].reset();
	
    var temp = jQuery('#' + el);
    temp.removeClass('show');
    jQuery('.is-focus').focus().removeClass('is-focus');
}

function insertSchedule(){
	var action;
	if($('#stime_edit').val().length != 5){alert("시작 시간을 정확히 입력하세요. HH:MM"); return false;}
	if($('#etime_edit').val().length != 5){alert("종료 시간을 정확히 입력하세요. HH:MM"); return false;}
	
	if($("#idx_edit").val() > 0 ){
		action = "update";
	} else {		
		action = "create";
	}
	
	$.ajax({
		type: "POST",
		contentType: 'application/json',
		url : "/_new/schedule/company/"+action,
		data: formToJsonString("#frm"),
		dataType: "json",
        cache: false,
        timeout: 60000
	})
	.done(function(data, textStatus, jqXHR ) { 
		$("#frm")[0].reset();
		layer_close_schedule('pop_register')
		if(action == 'update'){
			layer_close_schedule('pop_register_edit')
		}
		alert("저장하였습니다.");
		dateChange();
	}) 
	.fail(function(jqXHR, textStatus, errorThrown ) {
		alert("처리 중 오류가 발생하였습니다.2"+errorThrown+":"+status);
	}) 
	.always(function(jqXHR, textStatus, errorThrown ) { 
	});
}

function deleteSchedule(){
	if(confirm("해당 일정을 삭제합니다.")){		
		$.ajax({
			type: "DELETE",
			contentType: 'application/json',
			url : "/_new/schedule/company/delete?idx="+openItem,
			dataType: "json",
	        cache: false,
	        timeout: 60000
		})
		.done(function(data, textStatus, jqXHR ) { 
			alert("삭제하였습니다.");
			dateChange();
		}) 
		.fail(function(jqXHR, textStatus, errorThrown ) {
			alert("처리 중 오류가 발생하였습니다.3"+errorThrown+":"+status);
		}) 
		.always(function(jqXHR, textStatus, errorThrown ) { 
		});
	}
}
// holiday
function viewHolidayDetail(){
	var url = "https://intranet.kmac.co.kr/kmac/Reserve/holiday.asp";
	var sFeatures = "top=120,left=120,width=500,height=520,resizable=no,scrollbars=yes";
	var detailWin = window.open(url, "viewExpertDetail", sFeatures);
	detailWin.focus();
}
</script> 
</head>
<body>
	
	<div class="location">
		<p class="menu_title">전사주요행사</p>
		<ul>
			<li class="home">HOME</li>
			<li>스케줄관리</li>
			<li>전사주요행사</li>
		</ul>
	</div>
		
	<div class="contents sub">
		
		<div class="fixed_box">
			<div class="title a-l">
				<div class="h1_area">
					<p class="h1"><i class="mdi mdi-file-document-outline"></i>전사주요행사</p>
				</div>
			</div>
				
			<div class="fixed_contents schedule_view sc">
				<div class="board_box schedule">
					<div class="board_contents">
						<div class="schedule_head">
							<div class="month_select">
								<button type="button" onclick="location.href='javascript:movePrevious();'"><i class="mdi mdi-chevron-left"></i></button>
								<div class="select_area">
									<select name="year" id="year" class="select" onchange="location.href='javascript:javascript:dateChange()'">
										<option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow())-3, #dates.year(#dates.createNow()) + 3)}" 
										th:value="${year}"
										th:text="${year}" th:selected="${year eq searchParam.year}" ></option>
									</select>
									<select name="month" id="month" class="select" onchange="location.href='javascript:javascript:dateChange()'">
										<option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}" 
										th:selected="${i eq searchParam.month}" ></option>
									</select> 
									<button type="button" onclick="location.href='javascript:moveNext();'"><i class="mdi mdi-chevron-right"></i></button>
								</div>
							</div>
							<!--
							<div class="search_input">
								<label for="search"></label>
								<input type="text" name="search" id="search" placeholder="검색어를 입력하세요." title="검색어를 입력하세요." />
								<button type="button" class="btn btn_blue" onclick="location.href='javascript:;'">검색</button>									
							</div>
							-->
							<div th:if="${searchParam.dept eq '9381' || searchParam.dept eq '9362' || searchParam.dept eq '9360'}" class="search_input">	
								<button type="button" class="btn btn_d_blue" style="width: 100px;" onclick="viewHolidayDetail()">공휴일 등록</button>								
							</div>
						</div>	
						<div class="gantt_box">
							<div class="view month_box">
								<div class="week">
									<div class="sun">일요일</div>
									<div class="mon">월요일</div>
									<div class="tue">화요일</div>
									<div class="wed">수요일</div>
									<div class="thu">목요일</div>
									<div class="fri">금요일</div>
									<div class="sat">토요일</div>
								</div>
								
								
								<div th:each="rs : ${mainList}" class="month" >
									<div th:each="rs_ : ${rs}" th:class="${rs_.dayOfTheWeek}" th:classappend="${rs_.today ? 'today' : ''}">	
									
										<p th:if="${rs_.isHoliday}" th:class="day_off" th:onclick="javascript:layer_open_schedule(this,'pop_register', '', '[[${rs_.dateString2}]]');" style="cursor: pointer;">
											<span th:text="${rs_.holidayName}" class="day"></span>
											<span th:if="${rs_.day != 0}" th:text="${rs_.day}"></span>										
										</p>
										<p th:unless="${rs_.isHoliday}" th:onclick="javascript:layer_open_schedule(this,'pop_register', '','[[${rs_.dateString2}]]');" style="cursor: pointer;">
											<span class="day"></span>
											<span th:if="${rs_.day != 0}" th:text="${rs_.day}"></span>
										</p>
										
										<ul th:if="${rs_.scheduleDetailList == null}">
										</ul>	
										<ul th:unless="${rs_.scheduleDetailList == null}" >
											<li th:each="rs__ : ${rs_.scheduleDetailList}" th:class="${rs__.iconCode}">
												<a href="javascript:;" 
													th:text="${rs__.content}"
													onclick="" 
													th:onclick="javascript:layer_open_schedule(this,'pop_register_edit', '[[${rs__.idx}]]', '[[${rs_.day}]]' );"
												></a>
											</li>
										</ul>	
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  공통 수정 팝업 -->
		<div id="pop_register_edit" class="popup_layer pop_register common">
			<div class="popup_bg"></div>
			<div class="popup_inner">
				<div class="a-both">
					<p class="h1">일정<span class="lock"><i class="mdi mdi-lock-open-outline"></i></span></p>									
					<div class="btn_area icon">
						<button type="button" class="btn-pop edit" onclick="javascript:layer_edit_schedule(this,'pop_register');"><p>수정</p></button>
						<button type="button" class="btn-pop del" onclick="location.href='javascript:deleteSchedule();'"><p>삭제</p></button>
						<button type="button" class="btn-close" onclick="javascript:layer_close_schedule('pop_register_edit');" title="닫기"><i class="mdi mdi-close"></i></button>
					</div>	
				</div>								
				<div class="popup_contents">									
					<p class="" id="iconCode_view"></p><!-- 사업관리 .ico-1 -->
					<ul class="register_view">
						<li><i class="mdi mdi-alarm-check"></i><p id="stime_etime"></p></li>
						<li><i class="mdi mdi-map-marker-radius-outline"></i><p id="place_view"></p></li>										
					</ul>		
				</div>
			</div>
		</div>		
		
		<!-- 일정등록 팝업 -->
		<div id="pop_register" class="popup_layer pop_register">
			<form name="frm" id="frm" method="post">
				<input name="editable_edit" id="editable_edit" type="hidden"/>
				<input name="seq" id="seq_edit" type="hidden"/>
				<input name="idx" id="idx_edit" type="hidden"/>
				<div class="popup_bg"></div>
				<div class="popup_inner myschedule"><!-- 개인 스케쥴관리 .myschedule -->
					<div class="a-both title">
						<p class="h1">일정등록</p>						
						<button type="button" class="btn-close" onclick="javascript:layer_close_schedule('pop_register');" title="닫기"><i class="mdi mdi-close"></i></button>
					</div>								
					<div class="popup_contents">					
						<div class="w-100"><!-- width 100% 로 할 경우 -->
							<input type="text" title="업무내용 입력" placeholder="업무내용 입력" name="content" id="content_edit"/>
						</div>					
						<div class="w-100"><!-- width 100% 로 할 경우 -->
							<input type="text" title="장소 입력" placeholder="장소 입력" name="place" id="place_edit"/>
						</div>									
						<ul class="chek_ui mb-10">
							<li>																					
								<input type="checkbox" name="check_day" id="check_day" class="btn_check"  onclick="javascript:checkAllDay();"/>
								<label for="check_day"><p>하루 종일</p></label><!-- TO-DO: 스트립트 추가 -->
							</li>		
						</ul>
						<div class="a-both">
							<div class="input_date">
								<input type="text" title="시작일" placeholder="시작일" name="sdate" id="sdate_edit" 
									th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly
									/>
								<script>
									jQuery(function(){jQuery( "#sdate" ).datepicker({dateFormat: 'yyyy-mm-dd'});});
								</script>								
							</div>
							<div class="input_date" style="display: none;" id="edateDiv">
								<input type="text" title="종료일" placeholder="종료일" name="edate" id="edate_edit"
									th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly
									/>
								<script>
									jQuery(function(){jQuery( "#edate" ).datepicker({dateFormat: 'yy-mm-dd'});});
								</script>	
							</div>
						</div>
						<div class="a-both">
							<select class="select" name="ss" id="ss_edit">
								<option value="오전">오전</option>
								<option value="오후">오후</option>
							</select>
							<input type="text" title="" placeholder="12:00" class="time" name="stime" id="stime_edit"
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
								onkeyup="javascript:inputTimeColon(this)"
								/>  
							~<select class="select" name="ee" id="ee_edit">
								<option value="오전">오전</option>
								<option value="오후">오후</option>
							</select>
							<input type="text" title="" placeholder="12:00" class="time" name="etime" id="etime_edit"
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
								onkeyup="javascript:inputTimeColon(this)"
								/>
						</div>
						<div class="btn_area">
							<button type="button" class="btn btn_blue" onclick="javascript:insertSchedule();">등록</button>
							<button type="button" class="btn btn_grey" onclick="javascript:layer_close_schedule('pop_register');">취소</button>
						</div>									
					</div>
				</div>
			</form>
		</div>
		<!-- // 일정등록 팝업 -->			
	</div>			
</body>
</html>	

