@charset 'utf-8';

/* MaterialDesignIcons.com */
@font-face {
	font-family: "Material Design Icons";   
	src: url("../fonts/materialdesignicons-webfont.eot?v=6.5.95");   
	src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=6.5.95") format("embedded-opentype"), 
		url("../fonts/materialdesignicons-webfont.woff2?v=6.5.95") format("woff2"), 
		url("../fonts/materialdesignicons-webfont.woff?v=6.5.95") format("woff"), 
		url("../fonts/materialdesignicons-webfont.ttf?v=6.5.95") format("truetype");  
	font-weight: normal;   
	font-style: normal;
}

/* Montserrat */
@font-face {
	font-family: "montserrat-l";   
	src: url("../fonts/montserrat-light-webfont.eot");   
	src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/montserrat-light-webfont.woff2") format("woff2"), 
		url("../fonts/montserrat-light-webfont.woff") format("woff"), 
		url("../fonts/montserrat-light-webfont.ttf") format("truetype");  
	font-weight: normal;   
	font-style: normal;
}
@font-face {
	font-family: "montserrat-r";   
	src: url("../fonts/montserrat-regular-webfont.eot");   
	src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), 
		url("../fonts/montserrat-regular-webfont.woff") format("woff"), 
		url("../fonts/montserrat-regular-webfont.ttf") format("truetype");  
	font-weight: normal;   
	font-style: normal;
}
@font-face {
	font-family: "montserrat-b";   
	src: url("../fonts/montserrat-semibold-webfont.eot");   
	src: url("../fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), 
		url("../fonts/montserrat-semibold-webfont.woff") format("woff"), 
		url("../fonts/montserrat-semibold-webfont.ttf") format("truetype");  
	font-weight: normal;   
	font-style: normal;
}
@font-face {
	font-family: "montserrat-eb";   
	src: url("../fonts/montserrat-extrabold-webfont.eot");   
	src: url("../fonts/montserrat-extrabold-webfont.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), 
		url("../fonts/montserrat-extrabold-webfont.woff") format("woff"), 
		url("../fonts/montserrat-extrabold-webfont.ttf") format("truetype");  
	font-weight: normal;   
	font-style: normal;
}

/* λ…Έν†  μ‚°μ¤ */
@font-face {
      font-family: 'NotoKrL';
      font-style: normal;
      font-weight: 100;
      src: local('Noto Sans Light'), local('NotoSans-Light'), url("../fonts/NotoSans-Light.eot");
      src: url("../fonts/NotoSans-Light.eot?#iefix") format('embedded-opentype'),
      url("../fonts/NotoSans-Light.woff2") format('woff2'),
      url("../fonts/NotoSans-Light.woff") format('woff');;
}
@font-face {
      font-family: 'NotoKrR';
      font-style: normal;
      font-weight: 300;
      src: local('Noto Sans Regular'), local('NotoSans-Regular'), url("../fonts/NotoSans-Regular.eot");
      src: url("../fonts/NotoSans-Regular.eot?#iefix") format('embedded-opentype'),
            url("../fonts/NotoSans-Regular.woff2") format('woff2'),
            url("../fonts/NotoSans-Regular.woff") format('woff');
}
@font-face {
      font-family: 'NotoKrM';
      font-style: normal;
      font-weight: 500;
      src: local('Noto Sans Medium'), local('NotoSans-Medium'), url("../fonts/NotoSans-Medium.eot");
      src: url("../fonts/NotoSans-Medium.eot?#iefix") format('embedded-opentype'),
            url("../fonts/NotoSans-Medium.woff2") format('woff2'),
            url("../fonts/NotoSans-Medium.woff") format('woff');
}
@font-face {
      font-family: 'NotoKrB';
      font-style: normal;
      font-weight: 700;
      src: local('Noto Sans Bold'), local('NotoSans-Bold'), url("../fonts/NotoSans-Bold.eot");
      src: url("../fonts/NotoSans-Bold.eot?#iefix") format('embedded-opentype'),
            url("../fonts/NotoSans-Bold.woff2") format('woff2'),
            url("../fonts/NotoSans-Bold.woff") format('woff');
}